body{
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.navbar{
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 1;
}
.nav-list{
    padding: 1.5rem;
}
.nav-link{
    color:#132144 !important;
}
.nav-link:hover{
    color: #4981b3 !important;
}
.navbar .btn{
    border-radius: 4rem;
    width: 9rem;
    background: #00B0F0 !important;
    color: white !important;
    font-weight: bold;
}
.container .digitize{
    color: #132144 !important;
    font-size: 5rem;
}
.container .global{
    font-size: 2rem;
    color: #132144 !important;
    font-weight: 400;
}
.container .now{
    border-radius: 4rem;
    width: 15rem;
    background: #00B0F0 !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
}
.showcase{
    background-color: aliceblue !important;
    height: 100rem;
}
.award{
    display: flex;
    justify-content: end;
}
.moves .text{
    font-size: 4rem;
}
strong{
    color: #00B0F0;
}
.ads-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Atm{
    background: #F1F1FE;
    border: 4px solid rgba(200, 200, 255, 0.3);
    flex: 1 1 350px;
    border-radius: 24px;
    height: 350px;
    width: 350px;
    transition: transform 0.2s ease-in;
    margin-left: 20px;
    margin-bottom: 20px;
} 
.Atm:hover{
    transform: translateY(-15px);
}
.Atm h2{
    padding-left: 30px;
    font-size: 30px;
}
.Atm p{
    padding-top: 10px;
    padding-left: 30px;
}
.Atm img{
    padding-left: 200px;
    padding-bottom: 60px;
}
.bank{
    background: #FEF1F1;
    border: 4px solid rgba(255, 200, 200, 0.3);
    flex: 1 1 350px;
    border-radius: 24px;
    height: 350px;
    width: 350px;
    transition: transform 0.2s ease-in;
    margin-left: 20px;
    margin-bottom: 20px;
} 
.bank:hover{
    transform: translateY(-15px);
}
.bank h2{
    padding-left: 30px;
    font-size: 30px;
}
.bank p{
    padding-top: 10px;
    padding-left: 30px;
}
.bank img{
    padding-left: 200px;
    padding-bottom: 60px;
}
.tela{
    background: #F0F0FF;
    border: 4px solid rgba(200, 200, 255, 0.3);
    flex: 1 1 350px;
    border-radius: 24px;
    height: 350px;
    width: 350px;
    transition: transform 0.2s ease-in;
    margin-left: 20px;
    margin-bottom: 20px;
} 
.tela:hover{
    transform: translateY(-15px);
}
.tela h2{
    padding-left: 30px;
    font-size: 30px;
}
.tela p{
    padding-top: 10px;
    padding-left: 30px;
}
.tela img{
    padding-left: 200px;
    padding-bottom: 60px;
}
.features .btn{
    color:#CA6904;
    font-size: 20px;
    font-family: 'BR Firma';
    font-style: normal;
    background: #FFFFFF;
    border: 1px solid rgba(240, 240, 255, 0.5);
    box-shadow: 0px 4px 13px rgba(234, 236, 255, 0.8);
    border-radius: 24px;
    width: 163px;
    height: 41px;
}
.features h1{
    font-size: 4.5rem;
}
.exchange-rate h3{
    color: #464398;
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}
.exchange-rate p{
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 141.2%;
    color: #6562BC;
}
.convert h3{
    color: #464398;
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}
.convert p{
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 141.2%;
    color: #6562BC;
}
.earnings h3{
    color: #464398;
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}
.earnings p{
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 141.2%;
    color: #6562BC;
}
.open{
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 600;
    font-size: 64rem;
    line-height: 80px;
    color: #132144;
}
.register .btn{
    width: 318px;
    height: 42px;
    background: #00B0F0;
    border-radius: 30px;
    text-align: center;
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.email{
    width: 385px;
    height: 137px;
    background: #FFFFFF;
    border: 3px solid #F1F1FE;
    border-radius: 24px;
    margin-bottom: 20px;
}
.email h5{
    width: 350px;
    background: #F1F1FE;
    border-radius: 12px;
    padding-left: 50px;
    width: 337px;
    height: 49px;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 42px;
    margin-top: 10px;
    padding-bottom: 0px;
}
.email p{
    font-size: 22px;
    padding-left: 35px;
}
.verification{
    width: 421px;
    height: 137px;
    background: #FFFFFF;
    border: 3px solid #F1F1FE;
    border-radius: 24px;
    margin-bottom: 20px;
}
.verification h5{
    width: 350px;
    background: #F1F1FE;
    border-radius: 12px;
    padding-left: 50px;
    width: 337px;
    height: 49px;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 42px;
    margin-top: 10px;
    padding-bottom: 0px;
}
.verification p{
    font-size: 22px;
    padding-left: 35px;
}
.In{
    width: 385px;
    height: 137px;
    background: #FFFFFF;
    border: 3px solid #F1F1FE;
    border-radius: 24px;
}
.In h5{
    width: 350px;
    background: #F1F1FE;
    border-radius: 12px;
    padding-left: 50px;
    width: 337px;
    height: 49px;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 88px;
    margin-top: 10px;
    padding-bottom: 0px;
}
.In p{
    font-size: 22px;
    padding-left: 35px;
}
.services-menu{
    height: 800px;
    background: #F7F8FC;
}
.services .btn{
    color:#CA6904;
    font-size: 20px;
    font-family: 'BR Firma';
    font-style: normal;
    background: #FFFFFF;
    border: 1px solid rgba(240, 240, 255, 0.5);
    box-shadow: 0px 4px 13px rgba(234, 236, 255, 0.8);
    border-radius: 24px;
    width: 163px;
    height: 41px;
}
.services h1{
    font-size: 4.5rem;
}
.services-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.web{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    /* flex: 0.9 1; */
    height: 300px;
    width: 250px;
    transition: transform 0.2s ease-in;
}
.web:hover{
    transform: translateY(-15px);
}
.web img{
    padding-top: 60px;
}
.web p{
    font-size: 25px;
    font-weight: 500;
}
.custom{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    height: 300px;
    width: 250px;
    transition: transform 0.2s ease-in;
} 
.custom:hover{
    transform: translateY(-15px);
}
.custom img{
    padding-top: 60px;
}
.custom p{
    font-size: 25px;
    font-weight: 500;
}
.support{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    max-height: 100%;
    width: 250px; 
    transition: transform 0.2s ease-in;
    margin-top: 10px;
} 
.support:hover{
    transform: translateY(-15px);
}
.support img{
    padding-top: 60px;
}
.support p{
    font-size: 25px;
    font-weight: 500;
}
.assurance{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    height: 300px;
    width: 250px;
    transition: transform 0.2s ease-in;
    margin-top: 10px; 
}
.assurance:hover{
    transform: translateY(-15px);
}
.assurance img{
    padding-top: 60px;
}
.assurance p{
    font-size: 25px;
    font-weight: 500;
}
.contact .btn{
    width: 288px;
    height: 62px;
    background: #00B0F0;
    border-radius: 30px;
    text-align: center;
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 15px;
}
.build h3{
    font-family: 'BR Firma';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 80px;
    color: #132144;
}
.enterprise-menu{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.enterprise-menu .fintech{
    background-color: rgb(201, 241, 228);
    border-radius: 20px;
    /* flex: 1 1 1; */
    width: 392px;
    height: 550px;
    text-align: start;
    padding-bottom: 100px;
    transition: transform 0.2s ease-in;
    margin-left: 10px;
}
.enterprise-menu .fintech:hover{
    transform: translateY(-15px);
}
.enterprise-menu .fintech h5{
    padding-bottom: 80px;
    font-style: italic;
}
.enterprise-menu .fintech p{
    font-weight: 400;
    font-size: 30px;
}
.enterprise-menu .Decision{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 400px;
    height: 550px;
    text-align: start;
    margin-left: 40px;
    padding-top: 30px;
    transition: transform 0.2s ease-in;
}
.enterprise-menu .Decision:hover{
    transform: translateY(-15px);
}
.enterprise-menu .Decision h5{
    padding-bottom: 80px;
    font-style: italic;
}
.enterprise-menu .Decision p{
    font-weight: 400;
    font-size: 30px;
}
.enterprise-menu .trust{
    background-color: rgb(225, 247, 240);
    border-radius: 20px;
    width: 400px;
    height: 550px;
    text-align: start;
    margin-left: 40px;
    padding-top: 30px;
    transition: transform 0.2s ease-in;
}
.enterprise-menu .trust:hover{
    transform: translateY(-15px);
}
.enterprise-menu .trust h5{
    padding-bottom: 80px;
    font-style: italic;
}
.enterprise-menu .trust p{
    font-weight: 400;
    font-size: 30px;
}
.enterprise-menu 
.trust-menu .customers{
    padding-bottom: 50px;
}
.enterprise-menu 
.trust-menu .customers p{
    font-size: small;
}
.enterprise-menu 
.trust-menu .countries p{
    font-size: small;
}
@media(max-width: 1070px){
    .services-menu{
        height: 1250px;
        background: #F7F8FC;
    }
    .showcase{
        background-color: aliceblue !important;
        height: 75.9rem;
    }
    .enterprise-menu{
        padding: 50px;
        display: flex;
        justify-content: space-around;
        height: 700px;
        width: 1000px;
    }
}
@media(max-width: 360px){
    body{
        max-width: 100%;
        max-height: 100%;
    }
    .services-menu{
        height: 2250px;
        background: #F7F8FC;
    }
    .showcase{
        background-color: aliceblue !important;
        height: 75.9rem;
    }
}

